# PostgreSQL
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac
DATABASE_NAME=prac

# PostgreSQL configuration for Docker
POSTGRES_USER=prac
POSTGRES_PASSWORD=prac
POSTGRES_DB=prac

# PGAdmin
PGADMIN_EMAIL=aa@aa.com
PGADMIN_PASSWORD=password
