DATABASE_USERNAME=prac
DATABASE_PASSWORD=prac
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=prac
DATABASE_URL=postgres://prac:prac@postgres:5432/prac

# Logging configuration
# Available options: dev, json, tskv
LOG_FORMAT="dev"

# Debug mode
DEBUG="*"
